* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(assets/bg-img.jpg);
    background-size: cover;
  }
  
  .app-container {
    width: 90%;
    max-width: 600px;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0px 0px 12px gray;
    background: transparent;
    backdrop-filter: blur(8px);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  
  .input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  .input-section input,
  .input-section select {
    padding: 10px;
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .input-section button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    flex: 1;
  }
  
  .input-section button:hover {
    background-color: #0056b3;
  }
  
  .tasks-section {
    display: grid;
    gap: 20px;
  }
  
  .task-container {
    padding: 15px;
    border-radius: 8px;
    background-color: #f0f8ff;
  }
  
  h2 {
    margin-bottom: 10px;
    font-size: 1.25rem;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    padding: 10px;
    background-color: #e3f2fd;
    border-radius: 4px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .task-buttons {
    display: flex;
    gap: 5px;
  }
  
  button.done-btn,
  button.remove-btn {
    border: none;
    padding: 5px 8px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
  }
  
  button.done-btn {
    background-color: #28a745;
  }
  
  button.remove-btn {
    background-color: #dc3545;
  }
  
  button.done-btn:hover {
    background-color: #218838;
  }
  
  button.remove-btn:hover {
    background-color: #c82333;
  }
  
  .completed {
    text-decoration: line-through;
    color: #6c757d;
  }
  


  @media (max-width: 600px) {
    .app-container {
      width: 100%;
      padding: 15px;
    }
  
    h1 {
      font-size: 1.25rem;
    }
  
    .input-section {
      flex-direction: column;
    }
  
    .input-section input,
    .input-section select,
    .input-section button {
      flex: none;
      width: 100%;
      margin-bottom: 10px;
    }
  
    h2 {
      font-size: 1rem;
    }
  
    li {
      padding: 8px;
      font-size: 0.9rem;
    }
  
    button.done-btn,
    button.remove-btn {
      padding: 4px 6px;
      font-size: 0.8rem;
    }
  }
  